<% title "User Page" %>
<h3 align="center">
  <div class="well row">
    <div class="col-xs-8 col-xs-offset-2">
      <div class="card">
        <div class="avatar">
          <%= user_avatar(@user) %>
        </div>
        <div class="content">
          <%= link_to "#{@user.name}", user_path(@user.id) %>
        </div>
      </div>
    </div>
</h3>

<div class="col-xs-8 col-xs-offset-2">
  <hr>
  <h4 align="center">Posts</h4>
  <hr>
</div>

<div class="container">
  <div class="row">
    <% @posts.each do |post| %>
    <div class="col-xl-3 col-md-6 mb-4">
      <div class="card border-0 shadow">
        <h7 align="center"><strong>Category:</strong> <%= post.category.name %></h7>
      </div>
      <div class="card border-0 shadow">
        <h7 align="center"><strong>Tags:</strong> <% post.tags.each do |tag|%>
          <%= tag.name %>
          <% end %>
        </h7>
        <div>
          <%= link_to post_thumbnail(post,500,250), post_path(post)%>
        </div>
        <div class="card-body text-center" style="padding-right:55px">
          <h4 class="center card-title mb-0"><%= post.title %></h4>
          <div class="card-text text-black-50">By:<%= link_to "#{post.user.name}", user_path(post.user.id) %>
          </div>
        </div>
      </div>
    </div>
    <% end %>