<h1>Showing selected post</h1>
<p>
    Created by: <%= link_to "#{@post.user.first_name} #{@post.user.last_name}", user_path %>
</p>
<p>
    Title: <%= @post.title %>
</p>
<p>
    Description: <%= @post.description %>
</p>
<p>
    Category: <%= @post.category.name %>
</p>
<ul>

    <% @post.images.each do |image| %>
    <li>
        <%= image_tag image.variant(resize: "500x500") %>
    </li>
    <% end %>

</ul>
<%= link_to "Edit", edit_post_path(@post) %>
<%= link_to 'Back', posts_path %>