<nav class="navbar sticky-top navbar-light bg-light" style="background-color: #C0C0C0;>
  <div class=" container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" <%= link_to 'Portfolio', posts_path %></a>
  </div> 
    <ul class="nav navbar-nav">
      <li class="active"><%= link_to 'Home', posts_path %></a></li>
      <li><a <%= link_to "Create new post", new_post_path %></a> </li> 
      <li><a<span class="navbar-text">Signed as:</span> <%=link_to "#{current_user.name}", current_user %></a></li>
      <li><a <%= link_to "Edit profile", edit_user_registration_path %></a></li> 
      <li><a <%= link_to "Log out", destroy_user_session_path, :method => :delete %></a></li>
      <% if current_user.admin %>
      <li style="background-color:#ff6961"><a <%= link_to "Admin Dashboard", rails_admin.dashboard_path %></a></li>
      <% end %>
    </ul> 
  </div> 
</nav>